@page "/"
@using Domain.Repository
@using EFCAT.Model.Annotation
@using EFCAT.Model.Data
@using EFCAT.Model.Data.Annotation
@using Sample.Model.Entity
@using EFCAT.Service.Component.Input
@using System.Text.RegularExpressions
@inject ITestAsyncRepository _repository

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if (Entities != null) {
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number</th>
            <th>Type</th>
        </tr>

        @foreach (User entity in Entities) {
            <tr>
                <td>@entity.Id</td>
                <td>@entity.Name</td>
                <td>@entity.Password</td>
            </tr>
        }
    </table>

    <hr />
    @if (Entities.Any()) {
        <EditForm Model=com>
            <DataAnnotationsValidator />
            <ValidationSummary />
            <span>Password Verification</span>
            <input @bind-value=com.ComparePassword />
            <button>submit</button>
        </EditForm>
    }
}

<hr />
<EditForm Model=Entity OnValidSubmit=Submit>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input type="text" @bind-value=Entity.Name placeholder="Name" />
    <input type="text" @bind-value=Entity.Password placeholder="Password" />
    <!--
    <input type="number" @bind-value=Entity.Number placeholder="Number" />
    <select>
    @foreach (var value in Enum.GetValues(typeof(ETypes))) {
            <option @onselectionchange=@(() => Entity.Type = (ETypes)Enum.ToObject(typeof(ETypes), value) )>@value</option>
    }
    </select>-->
    <button>submit</button>
</EditForm>
<hr />
<Number @bind-Value=Value Unit="%" />
<hr />
<EditForm Model=Ex>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input type="text" @bind-value=Ex.Username placeholder="Name" />
    <button>submit</button>
</EditForm>
<hr />
<EditForm Model=MinTst>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input type="number" @bind-value=MinTst.MinInt />
    <input type="number" @bind-value=MinTst.MinDouble />
    <input type="number" @bind-value=MinTst.MinProperty />
    <input type="datetime" @bind-value=MinTst.MinDate />
    <input type="number" @bind-value=MinTst.MinMethod />
    <button>submit</button>
</EditForm>
<hr />
<EditForm Model=PatternTst>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input type="text" @bind-value=PatternTst.PatternString />
    <input type="text" @bind-value=PatternTst.PatternPropertyString />
    <input type="text" @bind-value=PatternTst.PatternPropertyRegex />
    <input type="text" @bind-value=PatternTst.PatternMethodString />
    <input type="text" @bind-value=PatternTst.PatternMethodRegex />
    <button>submit</button>
</EditForm>

@code {
    List<User> Entities { get; set; }

    User Entity { get; set; } = new User();

    string Password { get; set; } = "";

    int Value { get; set; } = 0;

    TestExist Ex { get; set; } = new TestExist();

    Comparison com { get; set; } = new Comparison();

    MinTest MinTst { get; set; } = new MinTest();
    
    PatternTest PatternTst { get; set; } = new PatternTest();

    protected async override Task OnInitializedAsync() {
        Entities = (await _repository.ReadAllAsync()).ToList();
        if (Entities.Any()) {
            com = new Comparison() { CurrentPassword = Entities[0].Password };
        }
        Entity = new User();
    }

    private async Task Submit() {
        Entity = await _repository.CreateAsync(Entity);
        Entities.Add(Entity);
        Entity = new User();
    }

    private class TestExist {
        [Exist(typeof(User), "Name")]
        public string Username { get; set; }
    }

    private class Comparison {
        public Crypt<SHA256> CurrentPassword { get; set; }
        [Compare("CurrentPassword", ErrorMessage = "Wrong!")]
        public string ComparePassword { get; set; }
    }

    private class MinTest {
        [NotNull]
        [Min(1)]
        public int MinInt { get; set; }

        [NotNull]
        [Min(1.00)]
        public int MinDouble { get; set; }

        [NotNull]
        [Min(Parameter.Property, "MinInt")]
        public int MinProperty { get; set; }

        public DateTime date => DateTime.Now;

        [NotNull]
        [Min(Parameter.Property, "date")]
        public DateTime MinDate { get; set; }

        public int Add(int x, int y) => x + y;

        [NotNull]
        [Min(Parameter.Method, "Add", 2, 3)]
        public int MinMethod { get; set; }
    }

    private class PatternTest {
        [NotNull]
        [Pattern("^[1-9]+$")]
        public string PatternString { get; set; }

        public string Pattern { get; set; } = "^[1-9]+$";
        public Regex PatternRegex { get; set; } = new Regex("^[1-9]+$");

        [NotNull]
        [Pattern(Parameter.Property, "Pattern")]
        public string PatternPropertyString { get; set; }
        
        [NotNull]
        [Pattern(Parameter.Property, "PatternRegex")]
        public string PatternPropertyRegex { get; set; }

        public string GetPattern() => Pattern;
        public Regex GetPatternRegex() => PatternRegex;

        [NotNull]
        [Pattern(Parameter.Method, "GetPattern")]
        public string PatternMethodString { get; set; }
        
        [NotNull]
        [Pattern(Parameter.Method, "GetPatternRegex")]
        public string PatternMethodRegex { get; set; }
    }
}