@page "/"
@using Domain.Repository
@using EFCAT.Model.Annotation
@using Sample.Model.Entity
@using EFCAT.Service.Component.Input
@inject ITestAsyncRepository _repository

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if (Entities != null) {


    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Number</th>
            <th>Type</th>
        </tr>

        @foreach (User entity in Entities) {
            <tr>
                <td>@entity.Id</td>
                <td>@entity.Name</td>
                <td>@entity.Password</td>
            </tr>
        }
    </table>
    @if (Entities.Any()) {
        <hr />
        <span>Password Verification</span> <input @bind-value=Password />
        @if (Entities[0].Password.Verify(Password)) {
            <p>Correct</p>
        }

    }
}
<hr />
<EditForm Model=Entity OnValidSubmit=Submit>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input type="text" @bind-value=Entity.Name placeholder="Name" />
    <input type="text" @bind-value=Entity.Password placeholder="Password" />
    <!--
    <input type="number" @bind-value=Entity.Number placeholder="Number" />
    <select>
        @foreach (var value in Enum.GetValues(typeof(ETypes))) {
            <option @onselectionchange=@(() => Entity.Type = (ETypes)Enum.ToObject(typeof(ETypes), value) )>@value</option>
        }
    </select>-->
    <button>submit</button>
</EditForm>

<Number @bind-Value=Value Unit="%" />

<EditForm Model=Ex>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input type="text" @bind-value=Ex.Username placeholder="Name" />
    <button>submit</button>
</EditForm>

@code {
    List<User> Entities { get; set; }

    User Entity { get; set; } = new User();

    string Password { get; set; } = "";

    int Value { get; set; } = 0;

    TestExist Ex { get; set; } = new TestExist();

    protected async override Task OnInitializedAsync() {
        Entities = (await _repository.ReadAllAsync()).ToList();
        Entity = new User();
    }

    private async Task Submit() {
        Entity = await _repository.CreateAsync(Entity);
        Entities.Add(Entity);
        Entity = new User();
    }

    private class TestExist {
        [Exist(typeof(User), "Name")]
        public string Username { get; set; }
    }
}